<a href="https://colab.research.google.com/github/0fvvori/-/blob/main/%EC%96%B8%EB%87%8C%EC%BB%B4_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total=0
for i in range(1,101):
  if i%2==0:
    total+=i
    print(i,total)

In [ ]:
a=['cat', 'tiger', 'elephant']
for x in a:
  if len(x)>3:
    print(x)

In [ ]:
total=0
for i in range(0,31):
  if i in range(11,21): continue
  total+=i
  print(i,total)

In [22]:
X=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
total=0
for x in X:
  total+=x
  if x==10:
    print(total)

In [ ]:
total=0
for x in X:
  total+=x
  if x==10:
    print(total/len(X))

In [ ]:
for x in X:
  if x>=4 and x<7:
    print(x)

In [ ]:
total=0
for x in X:
  total+=x
  if x==10:
    print(total,total/len(X))
  elif x>=4 and x<7:
    print(x)

In [33]:
Y=[1,1.0,1.6,2,5.1]

In [ ]:
for y in Y:
  if type(y)==int:
    print(y)

In [ ]:
for y in Y:
  if type(y)==int:
    print(float(y))
  elif type(y)==float:
    print(int(y))

In [46]:
total=0
for y in Y:
  if type(y)==float:
    total+=y
    if y>5:
      print(total)

7.699999999999999