<a href="https://colab.research.google.com/github/0fvvori/-/blob/main/%EC%96%B8%EB%87%8C%EC%BB%B4_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EB%B3%B82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
score=95
if score>=90:
  print('축하합니다')
else:
  print('다음기회에')

축하합니다

In [2]:
score=80
if score>=90:
  print('축하합니다')
else:
  print('다음 기회에')

다음 기회에

In [4]:
score=80
if score>=90:
  print('축하합니다')

In [5]:
score=80
if score>=90:
  print('축하합니다')
elif score < 90 and score >=80:
  print('다음 기회에')

다음 기회에

In [6]:
score=45
if score>=90:
  print('A학점')
elif score>=80:
  print('B학점')
elif score>=70:
  print('C학점')
elif score>= 60:
  print('D학점')
else:
  print('F학점')

F학점

In [7]:
score=80
if score>=80:
  if score>=90:
      print('축하합니다')
  else:
      print('더 노력을')

더 노력을

In [8]:
score=98
if score>=80:
  if score>=90:
    if score>=95:
      print('아주 훌륭하네요!')
    else:
      print('더 노력을!')

아주 훌륭하네요!

In [9]:
if 1:
  print('성공')

성공

In [10]:
if 0:
  print('실패')

In [11]:
if 'a':
  print('성공')

성공

In [22]:
if []:
  print('실패')

In [23]:
a=10
b=20
if not a==b:
  print('a==b', '는 거짓이다')

a==b 는 거짓이다

In [24]:
a=['cat', 'cow', 'tiger']
for x in a:
  print(x,'\t',len(x))

cat 	 3
cow 	 3
tiger 	 5

In [25]:
a=['cat', 'cow', 'tiger']
for x in a:
  if len(x)==3:
    print(x)

cat
cow

In [26]:
a=0
b=[1,2,3,4,5]
for x in b:
  a+=x
  print(x,a)

1 1
2 3
3 6
4 10
5 15

In [29]:
x=''
y=['나는', '학교에', '간다']
for z in y:
  x+=z
print(z,x)

간다 나는학교에간다

print의 들여쓰기 위치 따라 출력값 달라짐 주의!
for문 밖에 있는 print이므로 for문에서의 마지막 z값이 할당되고, 그때의 x값이 출력됨

In [33]:
a=0
b=[1,2,3,4,5]
for x in b:
  a+=x
  if x%2==0:
    print(x,a)

2 3
4 10

In [34]:
a=0
b=[1,2,3,4,5,6,7,8,9,10]
for x in b:
  a+=x
  if x==10:break
  if x%2==0:continue
  print(x,a)

1 1
3 6
5 15
7 28
9 45

In [37]:
a=0
while a<10:
  a=a+1
  if a==10:break
  if a%2==0:continue
  print(a)

1
3
5
7
9

In [38]:
a=0
while a<10:
  a+=1
  if a==10:
    break
  if a%2==0:
    continue
  print(a)

1
3
5
7
9

In [42]:
a=['a', 'b']; b=['A', 'B']
for i in a:
  for j in b:
    print(j)
  print(i+j)

A
B
aB
A
B
bB

In [41]:
a=['a', 'b']; b=['A', 'B']
for i in a:
  for j in b:
    if j=='B':break
    print(j)
  print(i+j)

A
aB
A
bB

j=='A' break랑 j='B'break 출력값 서로 다름 주의
break전까지 처리한 결과 유지

In [43]:
a=['a', 'b']; b=['A', 'B']
for i in a:
  for j in b:
    if j=='A':continue
    print(j)
  print(i+j)

B
aB
B
bB