<a href="https://colab.research.google.com/github/0fvvori/-/blob/main/%EC%96%B8%EB%87%8C%EC%BB%B4_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total=0
for i in range(1,101):
  if i%2==0:
    total+=i
    print(i,total)

두 개의 변수: 짝수, 합산 결과

for 구문은 in 뒤에 따라올 데이터(리스트)구조 필요함

while + 조건식(짝수 변수)

교수님 답안: while + 짝수 변수의 조건문 사용
pass, continue 사용한 식도 연습해볼 것(홀수일 경우?)

In [ ]:
#1예시답안
n=0
toal=0
while n <100:
  n+=2
  total+=n
  print(n,total)

In [ ]:
a=['cat', 'tiger', 'elephant']
for x in a:
  if len(x)>3:
    print(x)

continue랑 if-else구문으로도 생각

In [ ]:
total=0
for i in range(1,31):
  if i in range(11,21): continue
  total+=i
  print(i,total)

while 구문으로 만들어보기

In [2]:
X=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
total=0
for x in X:
  total+=x
print(total)

In [8]:
total=0
for x in X:
  total+=x
print(total/len(X))

5.5

In [ ]:
sum(X)/len(X)

In [ ]:
for x in X:
  if x>=4 and x<7:
    print(x)

In [12]:
total=0
for x in X:
  if x>=4 and x<7:
    print(x)
  total+=x
print(total, total/len(X))

4
5
6
55 5.5

In [14]:
Y=[1,1.0,1.6,2,5.1]

In [15]:
for y in Y:
  if type(y)==int:
    print(y)

1
2

In [16]:
for y in Y:
  if type(y)==int:
    print(float(y))
  elif type(y)==float:
    print(int(y))

1.0
1
1
2.0
5

In [17]:
total=0
for y in Y:
  if type(y)==float:
    total+=y
print(total)

7.699999999999999